@import "./parts/mixins";
@import "./parts/first-page";
@import "./parts/second-page";
@import "./parts/third-page";
@import "./parts/fourth-page";
@import "./parts/fifth-page";
@import "./parts/sixth-page";
@import "./parts/seventh-page";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 6986px;
    
}
